*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

}

.loginPage{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
135deg,
#dbeafe,
#ddd6fe
);

}

.loginCard{

width:500px;

background:white;

padding:50px;

border-radius:35px;

box-shadow:

0 25px 60px
rgba(99,102,241,.15);

display:flex;

flex-direction:column;

gap:20px;

}

.loginCard h1{

text-align:center;

font-size:64px;

color:#1e1b4b;

}

.loginCard input{

padding:20px;

border:none;

border-radius:18px;

background:#eef2ff;

font-size:20px;

outline:none;

}

.loginCard input:focus{

border:

2px solid
#7c3aed;

}

.loginCard button{

padding:18px;

border:none;

border-radius:18px;

font-size:24px;

font-weight:800;

cursor:pointer;

color:white;

background:

linear-gradient(
135deg,
#5b5ff6,
#9333ea
);

}

.loginCard p{

text-align:center;

font-size:18px;

}

.loginCard span{

color:#5b5ff6;

cursor:pointer;

font-weight:700;

}

.forgotBtn{

width:220px;

margin:auto;

padding:14px;

font-size:18px;

background:

linear-gradient(
135deg,
#ef4444,
#f97316
);

}

.forgotBtn:hover{

transform:
translateY(-3px);

}