.profile{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

background:

linear-gradient(
135deg,
#eef2ff,
#ddd6fe
);

}



.profileCard{

width:650px;

background:white;

padding:60px;

border-radius:35px;

text-align:center;

box-shadow:

0 20px 60px
rgba(
0,
0,
0,
0.08
);

}



.avatar{

font-size:120px;

margin-bottom:20px;

}



.profileCard h1{

font-size:60px;

color:#1e1b4b;

margin-bottom:30px;

}



.email{

font-size:28px;

font-weight:700;

padding:25px;

border-radius:20px;

background:

linear-gradient(
135deg,
#eef2ff,
#dbeafe
);

color:#4338ca;

margin-bottom:40px;

}



.backBtn{

padding:18px 40px;

border:none;

border-radius:18px;

font-size:18px;

font-weight:900;

cursor:pointer;

color:white;

background:

linear-gradient(
135deg,
#10b981,
#22c55e
);

}



.backBtn:hover{

transform:
translateY(-4px);

}



@media(max-width:700px){

.profileCard{

width:100%;

padding:30px;

}

.profileCard h1{

font-size:42px;

}

.email{

font-size:20px;

}

}